@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;0,700;1,100;1,500;1,700&display=swap");

:root {
  --red: #cc0100;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  font-family: Roboto, "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}

#sidebar {
  width: 40%;
  background-image: url("/img/leon-seierlein-VcBMbn7KXHQ-unsplash.jpg");
  background-size: cover;
  height: 100%;
}

#sidebar p {
  color: white;
}

#sidebar a {
  text-decoration: underline;
  color: white;
}

#sidebar a:visited {
  color: white;
}

#hondaLogo {
  height: 70px;
  width: 70px;
}

#logoBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

#logo {
  background-color: #ffffff50;
  height: 10%;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

#main {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#top {
  height: 30%;
  width: 100%;
  padding: 150px 0 0 35px;
}

#mid {
  height: 30%;
  width: 100%;
  background-color: #f4f3f8;
  box-shadow: 0px 5px 5px grey;
}

div > form {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25% 25% 25% 25%;
  row-gap: 3px;
  width: 60%;
  padding: 0 0 20px 20px;
}

legend {
  height: 10px;
}

.inputBox {
  display: flex;
  flex-direction: column;
}

.inputBox input {
  width: 60%;
  height: 20px;
}

button {
  width: 200px;
  height: 50px;
  position: relative;
  top: 40px;
  border-radius: 10px;
  background-color: var(--red);
  color: white;
  font-size: 18px;
  box-shadow: 2px 5px 5px grey;
}

#bottom {
  height: 30%;
  width: 100%;
  padding: 100px 0 0 40px;
}

#bottom a:visited {
  color: var(--red);
}

.error {
  border-color: var(--red);
  border-radius: 5px;
}

.errorFont {
  color: var(--red);
}

.disabled {
  background-color: grey;
}
